<div class="container p-4">
    <h1 align="center">Edit Player</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <!-- FORM TO ADD TASKS -->
                    <form (submit)="updatePlayer(name, team, age, position, country)">
                    <div class="form-group">
                    <app-player *ngFor="let player of players" [player]=player></app-player>
                        <input type="text" value={{player.name}} #name class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" value={{player.team}} #team class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" value={{player.age}} #age class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" value={{player.position}} #position class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" value={{player.country}} #country class="form-control">
                    </div>    
                    <!--<button type="submit" class="btn btn-primary btn-block" routerLink="/showPlayers" routerLinkActive="active">Update</button>-->
                    <button routerLink="/showPlayers" (click)="updatePlayer(name, team, age, position, country)" routerLinkActive="active" class="btn btn-primary">
                        Update
                    </button>    
                </form>
                </div>
            </div>
        </div>
    </div>
</div>