<div class="card mb-2">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h3>{{ player.name }}</h3>
        <div>
            <button routerLink="/editPlayer" (click)="updatePlayer(player)" routerLinkActive="active" class="btn btn-primary">
                Update
            </button>
            <button (click)="deletePlayer(player)" class="btn btn-danger">
                Delete
            </button>
        </div>
    </div>
    <div class="card-body">
            <div class="row">
                    <div class="column"><b>Team</b></div>
                    <div class="column"><b>Age</b></div>
                    <div class="column"><b>Position</b></div>
                    <div class="column"><b>Country</b></div>
                </div>
        <div class="row">
            <div class="column">{{player.team}}</div>
            <div class="column">{{player.age}}</div>
            <div class="column">{{player.position}}</div>
            <div class="column">{{player.country}}</div>
        </div>
    </div>
</div>