<nav class="navbar navbar-dark bg-dark">
  <ul class="nav">
  <li class="nav-item">    
      <img width="50" alt="Angular Logo" src="https://1.bp.blogspot.com/-ido19X4_v8Y/W7I1snia61I/AAAAAAAALI8/yorDR1gMrBIa33G-N-ymMrwWNsA6lNMHQCK4BGAYYCw/s400/FCB256x.png">
  </li>
  <li class="nav-item">
      <a routerLink="/createPlayer" routerLinkActive="active" class="nav-link" style="color: #ffffff" href="#">Create</a>
    </li>
  <li class="nav-item">
    <a routerLink="/showPlayers" routerLinkActive="active" class="nav-link" style="color: #f7fdff" href="#">Players</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color: #f7fdff" href="#">Edit</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color: #f7fdff" href="#">Delete</a>
  </li>
</ul>
</nav>

