<nav class="navbar navbar-dark bg-dark">
  <ul class="nav">
  <li class="nav-item">    
    <a class="navbar-brand" href="/">
      <img width="50" alt="Angular Logo" src="https://1.bp.blogspot.com/-ido19X4_v8Y/W7I1snia61I/AAAAAAAALI8/yorDR1gMrBIa33G-N-ymMrwWNsA6lNMHQCK4BGAYYCw/s400/FCB256x.png">
      Mayen
    </a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="#">Agregar</a>
    </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Jugadores</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Editar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Eliminar</a>
  </li>
</ul>
</nav>

